* {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color:#1e5ba5;
    border-radius: 10px;
}

body {
    background-color: #F3F5FC;
}

header {
    float: left;
    margin: 10px;
    margin-left: 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1%;
    width: auto;
}

.container-box-input {
    height: 50%;
    margin-top: 4%;
    margin-right: 3%;
    margin-bottom: 0;
}

.container-box-input-texto {
    margin-top: 0;
    padding: 30px;
    background-color: #F3F5FC;
    border: none;
}

#container-box-input-apenas {
    font-weight: 100;
    font-size: small;
    color: #B0B0B0;
}

.container-box-input-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.container-box-input-buttons-btencriptar {
    background-color: #1e5ba5;
    color: #FFF;
}

.container-box-input-buttons-btdesencriptar {
    background-color: #F3F5FC;
    border-color: #1e5ba5;
}

.container-box-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: auto;
}

.container-box-mensagem-copiar {
    padding: 30px;
    border: none;
    background-image: url("/images/nenhuma-mensagem.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 200px;
}

#container-box-btcopiar {
    background-color: #F3F5FC;
    border-color: #1e5ba5;
}

/*parte mobile*/
@media(max-width: 768px) {

    .container {
        display: flex;
        /*flex-direction: column;
        flex-wrap: wrap;*/
        flex-flow: column wrap;
        align-items: center;
        width: auto;
        height: auto;
    }

    .container-box {
        width: 100%;
        height: 50%;
    }

    .container-box-input-texto {
        width: auto;
        padding: 10%;
    }

    .container-box-mensagem {
        margin-top: 5%;
    }

    .container-box-mensagem-copiar {
        padding: 10%;
    }
}